.products{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin: 5rem 0 5rem ;
}

img{
    width: 50%;
}

li{
    text-align: center;
    list-style: none;
    margin-top: 2rem;
}

.quantity-div{
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 0.5rem;
}